## Ranges
---

In [1]:
collect(1:10)

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [2]:
collect(1.5:5.5)

5-element Array{Float64,1}:
 1.5
 2.5
 3.5
 4.5
 5.5

In [3]:
collect(1.5:.5:5.5)

9-element Array{Float64,1}:
 1.5
 2.0
 2.5
 3.0
 3.5
 4.0
 4.5
 5.0
 5.5

In [6]:
collect(0:20:100)

6-element Array{Int64,1}:
   0
  20
  40
  60
  80
 100

In [7]:
collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [10]:
c1 = collect(100:-20:0)

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [11]:
c1

6-element Array{Int64,1}:
 100
  80
  60
  40
  20
   0

In [12]:
c1[3]

60

In [13]:
c1[5]

20

In [14]:
c1[end]

0

In [15]:
c1[end-2]

40

In [16]:
c1[:2:4]

3-element Array{Int64,1}:
 80
 60
 40

In [17]:
c1[2:4]

3-element Array{Int64,1}:
 80
 60
 40

In [18]:
c1[[2,5]]

2-element Array{Int64,1}:
 80
 20

In [19]:
c1[2:end]

5-element Array{Int64,1}:
 80
 60
 40
 20
  0

## Tuples
---

In [22]:
a1 = [1,2,3,4,5]

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [23]:
t1 = (1,2,3,4,5)

(1, 2, 3, 4, 5)

In [24]:
a1

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [25]:
t1

(1, 2, 3, 4, 5)

In [26]:
a1[1] = 6
a1

5-element Array{Int64,1}:
 6
 2
 3
 4
 5

In [27]:
t1[1] = 6

LoadError: MethodError: no method matching setindex!(::NTuple{5,Int64}, ::Int64, ::Int64)

In [28]:
t1[1:3]

(1, 2, 3)

In [29]:
t1[3:end]

(3, 4, 5)

In [30]:
t2 = ((1,3), (2,5))

((1, 3), (2, 5))

In [31]:
t2[1]

(1, 3)

In [32]:
t2[1][2]

3

In [34]:
marks = (Science = (90, 100), Maths = (95,100), English = (75,100))

(Science = (90, 100), Maths = (95, 100), English = (75, 100))

In [35]:
marks.Science

(90, 100)

In [36]:
marks.English

(75, 100)

In [37]:
marks.Maths

(95, 100)

In [39]:
marks2 = (History = (80, 100), Sports = (85, 100))

(History = (80, 100), Sports = (85, 100))

In [40]:
merge(marks, marks2)

(Science = (90, 100), Maths = (95, 100), English = (75, 100), History = (80, 100), Sports = (85, 100))

## Dictionary
---

In [44]:
Cars = Dict("Car1" => 10000, "Car2" => 20000, "Car3" => 30000, "Car4" => 38500)

Dict{String,Int64} with 4 entries:
  "Car3" => 30000
  "Car2" => 20000
  "Car4" => 38500
  "Car1" => 10000

In [45]:
Cars["Car2"]

20000

In [47]:
Cars2 = Dict(:Car1 => 17000, :Car2 => 20000, :Car3 => 35000)

Dict{Symbol,Int64} with 3 entries:
  :Car3 => 35000
  :Car1 => 17000
  :Car2 => 20000

In [48]:
Cars2[:Car1]

17000

In [49]:
haskey(Cars2, :Car4)

false

In [53]:
delete!(Cars2, :Car1)

Dict{Symbol,Int64} with 2 entries:
  :Car3 => 35000
  :Car2 => 20000

In [56]:
keys(Cars)

Base.KeySet for a Dict{String,Int64} with 4 entries. Keys:
  "Car3"
  "Car2"
  "Car4"
  "Car1"

In [57]:
values(Cars)

Base.ValueIterator for a Dict{String,Int64} with 4 entries. Values:
  30000
  20000
  38500
  10000

In [58]:
dict3 = merge(Cars, Cars2)

Dict{Any,Int64} with 6 entries:
  :Car3  => 35000
  "Car3" => 30000
  "Car2" => 20000
  "Car4" => 38500
  "Car1" => 10000
  :Car2  => 20000

## Sets
---

In [59]:
sports_brands = Set(["Adidas", "Nike", "Puma", "Reebok"])

Set{String} with 4 elements:
  "Nike"
  "Puma"
  "Reebok"
  "Adidas"

In [60]:
in("HRX", sports_brands)

false

In [61]:
in("Nike", sports_brands)

true

In [62]:
sports_brands_india = Set(["Adidas", "Nike", "HRX"])

Set{String} with 3 elements:
  "Nike"
  "HRX"
  "Adidas"

In [64]:
union(sports_brands, sports_brands_india)

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

In [65]:
intersect(sports_brands, sports_brands_india)

Set{String} with 2 elements:
  "Nike"
  "Adidas"

In [66]:
setdiff(sports_brands, sports_brands_india)

Set{String} with 2 elements:
  "Puma"
  "Reebok"

In [67]:
setdiff(sports_brands_india, sports_brands)

Set{String} with 1 element:
  "HRX"

In [68]:
push!(sports_brands, "HRX")

Set{String} with 5 elements:
  "Nike"
  "Puma"
  "Reebok"
  "HRX"
  "Adidas"

## Working with Date and Time
---

In [70]:
using Dates

In [72]:
now()

2020-10-15T18:16:22.979

In [73]:
today()

2020-10-15

In [75]:
birthdate = Date(1970, 9, 21)

1970-09-21

In [76]:
DateTime(1970, 9, 21, 9, 40, 30)

1970-09-21T09:40:30

In [77]:
now(UTC)

2020-10-15T22:18:51.23

In [78]:
mytime = now(UTC)

2020-10-15T22:19:35.048

In [79]:
year(mytime)

2020

In [80]:
month(mytime)

10

In [81]:
day(mytime)

15

In [82]:
hour(mytime)

22

In [84]:
minute(mytime)

19

In [85]:
second(mytime)

35

In [91]:
dayofweek(mytime)

4

In [92]:
dayname(mytime)

"Thursday"

In [93]:
dayofquarter(mytime)

15

In [94]:
daysinmonth(mytime)

31

In [101]:
(today() - birthdate)

18287 days

In [102]:
today() + Month(3)

2021-01-15

In [105]:
date_format = DateFormat("mm/dd/yyyy")

dateformat"mm/dd/yyyy"

In [106]:
Dates.format(birthdate, date_format)

"09/21/1970"

## Conditional Statements
---

In [107]:
a = 10

10

In [109]:
a > 10 ? "Yes" : "No"

"No"

In [110]:
a < 10 ? "Yes" : "No"

"No"

In [111]:
a <= 10 ? "Yes" : "No"

"Yes"

In [112]:
b = 20

20

In [114]:
a >= 10 || b < 20

true

In [115]:
a > 10 || b < 20

false

In [116]:
a >= 10  && b < 20

false

In [119]:
a >= 10 && b <= 20

true

In [120]:
if a > 10
    print("a is greater than 10")
elseif a < 10
    print("a is less than 10")
else
    print("a is equal to 10")
end

a is equal to 10

In [121]:
country = "United States"

"United States"

In [122]:
if country == "United States"
    print("You mentioned United States")
else
    print("You are in a country other than United States")
end

You mentioned United States

## Loops
---

In [124]:
for i in ["Adidas", "Nike", "Puma"]
    print(i)
end

AdidasNikePuma

In [125]:
for i in ["Adidas", "Nike", "Puma"]
    print(i, " ")
end

Adidas Nike Puma

In [126]:
for i in "Adidas"
    print(i)
end

Adidas

In [127]:
for i in "Adidas"
    println(i)
end

A
d
i
d
a
s

In [131]:
for t in (1,2,3,4,5)
    print(t)
end

12345

In [132]:
for t in (1,2,3,4,5)
    println(t)
end

1
2
3
4
5

In [133]:
for d in Dict(:C1 => 1000, :C2 => 2000)
    print(d, " ")
end

:C2 => 2000 :C1 => 1000

In [136]:
d1 = Dict(:C1 => 1000, :C2 => 2000)

Dict{Symbol,Int64} with 2 entries:
  :C2 => 2000
  :C1 => 1000

In [137]:
for d in d1
    print(d, " ")
end

:C2 => 2000 :C1 => 1000

In [138]:
for s in Set([1,2,3,4,5])
    print(s)
end

42351

In [139]:
for range in 1:5
    print(range, " ")
end

1 2 3 4 5

In [140]:
for range in 1:5
    @show range
end

range = 1
range = 2
range = 3
range = 4
range = 5

In [143]:
for x in 1:10
    if x % 2 == 0
        print(x, " ")
    end
end

2 4 6 8 10

In [144]:
for i in 1:10
    j = i * 10
    println("$(j) is multiplication between $(i) and 10")
end

10 is multiplication between 1 and 10
20 is multiplication between 2 and 10
30 is multiplication between 3 and 10
40 is multiplication between 4 and 10
50 is multiplication between 5 and 10
60 is multiplication between 6 and 10
70 is multiplication between 7 and 10
80 is multiplication between 8 and 10
90 is multiplication between 9 and 10
100 is multiplication between 10 and 10

In [146]:
for i in 1:10
    if i%2 == 0
        continue
    end
    println(i)
end

1
3
5
7
9

In [147]:
a = 1

1

In [148]:
while a < 10
    println(a)
    a += 1
end

1
2
3
4
5
6
7
8
9

## Comprehensions
---

In [149]:
x = [i for i in 1:10]

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [151]:
x = [i*2 for i in 1:10]

10-element Array{Int64,1}:
  2
  4
  6
  8
 10
 12
 14
 16
 18
 20

In [153]:
x = [i^2 for i in 1:10]

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [154]:
s = Set([i for i in 1:10])

Set{Int64} with 10 elements:
  7
  4
  9
  10
  2
  3
  5
  8
  6
  1

In [164]:
alphabet = (Dict(string(Char(x1 + 64)) => x1 for x1 in 1:26))

Dict{String,Int64} with 26 entries:
  "Z" => 26
  "Q" => 17
  "W" => 23
  "T" => 20
  "C" => 3
  "P" => 16
  "V" => 22
  "L" => 12
  "O" => 15
  "B" => 2
  "M" => 13
  "N" => 14
  "H" => 8
  "A" => 1
  "X" => 24
  "D" => 4
  "G" => 7
  "E" => 5
  "Y" => 25
  "I" => 9
  "J" => 10
  "S" => 19
  "U" => 21
  "K" => 11
  "R" => 18
  "F" => 6

In [160]:
[(x, y) for x in 1:3, y in 1:2]

3×2 Array{Tuple{Int64,Int64},2}:
 (1, 1)  (1, 2)
 (2, 1)  (2, 2)
 (3, 1)  (3, 2)

In [161]:
[x for x in 1:10 if x%2 == 0]

5-element Array{Int64,1}:
  2
  4
  6
  8
 10